* {
    background-color: #313b3f;
    color: #f1fbff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    font-size: 2.7em;
}

ul {
    list-style: none;
    margin: 0 15px;
}

.symbol {
    text-decoration: none;
    position: relative;
    font-size: 2em;
    transition: .5s;
}

  .symbol::before {
    text-decoration: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }

  .symbol:hover::before {
    transform: scale(1.1); 
  }

  .symbol:hover {
    color: #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }
